$text-color: #feda4a;
$bg-color: #000;
$font-family: "Pathway Gothic One", sans-serif;

$input-border-color: #ccc;

$input-text-bg-color: $bg-color;
$input-text-text-color: $text-color;
$input-text-border-color-focus: #555;

$input-button-bg-color: #333;
$input-button-text-color: white;
$input-button-bg-color-hover: #111;